<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/background.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/rowbg.css"/>
    <meta charset="UTF-8">
    <title>社区</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <script src="js/bootstrap.js" type="application/javascript"></script>

</head>
<body>
<!-- 登录表单 -->
<form style="margin-left:500px;margin-top:200px;">
    <div class="form-group">
        <label for="user" stype="display:inline;">账户：</label>
        <input type="text" class="form-control" id="user" style="display:inline;width:200px;"autocomplete="off" />
    </div>
    <div class="form-group">
        <label for="password" style="display:inline;">密码：</label>
        <input type="password" class="form-control" id="password" style="display:inline;width:200px;"autocomplete="off" />
    </div>
    <button type="submit" class="btn btn-primary">登录</button>
    <a href="/registe" class="btn btn-primary" onclick="doSubmit();">注册</a>
</form>
</body>
</html>